<div class="container">
    <div class='jumbotron'>
        <h1>choose your buttery</h1>
    </div>
    <div class='row'>
        <div class='col-md-4'>
            <a href="/morse">
                <img class='img' width='200px' src='assets/images/morse.png'>
            </a>
            <h3 style='text-align: center'>Stiles</h3>
        </div>
        <div class='col-md-4'>
            <a href="/stiles">
                <img align='middle' class='img' width='200px' src='assets/images/stiles.png'>
            </a>
            <h3 style='text-align: center'>Morse</h3>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script src='assets/js/worker_commands.js'></script>